.about-sec {
  padding: 100px 0;
  background-color: #e6edff;
}

.about-sec p {
  line-height: 1.8;
  font-size: 1.3rem;
}
.about-sec img {
  width: 350px;
  border-radius: 5px;
}

.about-sec .about-txt p {
  font-size: 18px;
}



@media (max-width: 611px) {
  .about-sec img {
    margin: 0 auto;
    width: 80%;
  }
  .about-sec {
    padding:80px 0;

  }
  
  .about-sec p {
    font-size: 1.1rem;
  }
}
